<div class="content" role="main">
  <div>{{ title }}</div>
  <button>{{featureButton}}</button>
  <button>{{customerButton}}</button>
</div>
<div class="content" role="main">
  <div>{{ customerSelect }}</div>
</div>
<div class="content" role="main">
  <div>{{ active }}</div>
  <div>Feature name 1</div>
  <button>{{editButton}}</button>
  <button>{{archiveButton}}</button>
  <button>{{toggleButton}}</button>
  <div>Feature name 2</div>
  <button>{{editButton}}</button>
  <button>{{archiveButton}}</button>
  <button>{{toggleButton}}</button>
</div>
<div class="content" role="main">
  <div>{{ archive }}</div>
  <div>Feature name 4</div>
  <button>{{archiveButton}}</button>
  <div>Feature name 3</div>
  <button>{{archiveButton}}</button>
</div>

<router-outlet></router-outlet>